.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
  padding: 20px; /* Add padding for better spacing */
  width: 100%; /* Ensure the dashboard uses full width */
  box-sizing: border-box;
}


.chartFilter {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin: 20px 0; /* Space around the filter */
  width: 100%; /* Ensure full width */
}

.chartFilter select {
  padding: 5px;
  font-size: 14px;
}

.chartContainer {
  flex: 1 1 auto; /* Adjust chart width to occupy available space */
  width: 100%;
  height: 500px;
  padding: 16px;
  position: relative;
}

.dateFilter {
  display: flex; /* Flexbox for layout */
  align-items: center; /* Center items vertically */
}

.dateFilter label {
  margin-right: 5px; /* Space between labels and inputs */
  font-size: 15px;
}

.dateFilter input {
  margin-right: 20px; /* Space between input fields */
}

.totals {

  display: flex; /* Flexbox for layout */
  justify-content: space-between; /* Distribute items evenly across the row */
  align-items: center; /* Center items vertically */
  width: 100%; /* Full width of the container */
  gap: 10px; /* Small gap between items */
  flex-wrap: nowrap; /* Prevent wrapping */
}

.totalItem {
  flex: 1 1 calc(33.33% - 10px); /* Use equal width for three in a row */
  text-align: center;
  min-width: 200px; /* Minimum width for readability */
}

h3 {
  text-align: center; /* Center the headings */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .chartContainer {
    flex: 1 1 100%; /* Each chart takes full width on narrow screens */
    max-width: 100%; /* Allow charts to expand fully */
  }

  .chartFilter {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: flex-start; /* Align items to the start */
  }

  .chartFilter label {
    margin-bottom: 5px; /* Space between label and select when stacked */
  }

  .lineChartContainer {
    width: 100%; /* Full width for the line chart */
  }

  .totals {
    flex-direction: column; 
    gap:0px;
  }

  .totalItem {
    flex: 1 1 calc(50% - 5px); /* Allow two items per row on smaller screens */
    max-width: 100%; /* Allow items to expand fully */
  }

  h2 {
    font-size: 17px;
  }
}
